header.profile-banner {
  height: 400px;
  width: 100%;
  display: flex;
  margin-top: 100px;
  padding-bottom: 20px;
  background-color: #f5eefd;
  background-image: url("https://www.transparenttextures.com/patterns/subtle-zebra-3d.png");
  background-attachment: fixed;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.profile-photo:hover {
  scale: 101%;
  transition: cubic-bezier(0, 1.18, 0, 1.23);
  transition-duration: 500ms;
}

.profile-info {
  display: flex;
  flex: .5;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.account-tag {
  font-family: 'source-sans-3', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #8071f4;
}