nav {
  height: 100px;
  width: 100vw;
  padding: 0 2.5rem 0 2.5rem;
  position: absolute;
  top: 0px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 100;
}

.logo {
  display: flex;
  font-family: 'bungee', sans-serif;
  align-content: center;
  align-items: center;
  margin: 1.5rem 0 1.5rem 0;
}

.logo:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.nav-action {
  margin: 1.5rem 0 1.5rem 0;
  display: flex;
  font-size: 1.1rem;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.nav-action:hover {
  cursor: pointer;
  transition: ease-in-out;
  transform: scale(1.05);
}

@keyframes loop {
  0% {
    transform: translateY(10%);
  }

  50% {
    transform: translateY(-10%);
  }

  100% {
    transform: translateY(10%);
  }
}

.fa-solid.fa-solid.fa-angles-down {
  margin-top: .2rem;
  /* color: #8071f4; */
  animation: loop 1s ease-in-out infinite;
}

@media only screen and (min-width: 1024px) {
  nav {
    position: fixed;
    background-color: #8071f4;
  }
}