.container {
  width: 90%
}

.new-tweet {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.new-tweet h2 {
  margin: 0;
  font-family: "bungee", sans-serif;
  font-size: 1.5rem;
}

.create-tweet {
  display: flex;
  flex-direction: column;
  padding-top: .25rem;
}

.create-tweet label {
  color: #8071f4;
  font-size: 1rem;
  margin-bottom: .5rem;
}

textarea {
  border: 0;
  outline: none;
  border-bottom: 2px solid #8071f4;
  border-radius: 10px 10px 0px 0px;
  font-family: 'source-sans-3', sans-serif;
  color: #8071f4;
  font-weight: 300;
  font-size: 1rem;
  padding: 10px;
  resize: none;
}

textarea:focus {
  /* min-height: 100px; */
  transition: ease-in-out;
  border-top: 1px solid #8071f4;
  border-left: 1px solid #8071f4;
  border-right: 1px solid #8071f4;
  border-bottom: 2px solid #8071f4;
  border-radius: 10px 10px 10px 0px;
  background-color: #faf9ff;
}

.new-tweet-footer {
  font-family: "bungee", sans-serif;
  font-size: 1rem;
  color: #8071f4;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#submit-button {
  color: #8071f4;
  background-color: #faf9ff;
  border: 1px solid #8071f4;
  padding: 2.5px 8px 2.5px 8px;
  border-radius: 5px;
  align-items: center;
}

#submit-button:hover {
  color: white;
  background-color: #8071f4;
  scale: 105%;
  transition: ease-in-out;
  transition-duration: 100ms;

}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.exceeded-character-limit {
  color: red;
}