.container {
  width: 90%
}

.new-tweet {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.new-tweet-container {
  padding-top: 20px;
  margin-bottom: 2rem;
}

.new-tweet-container h2 {
  margin: 0;
  font-family: "bungee", sans-serif;
  font-size: 1.5rem;
}

.create-tweet {
  display: flex;
  flex-direction: column;
  padding-top: .25rem;
}

.create-tweet label {
  color: #8071f4;
  font-size: 1rem;
}

.tweet-cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.fa-solid.fa-circle-chevron-up {
  color: #8071f4;
}

.fa-solid.fa-circle-chevron-up:hover {
  color: rgba(128, 113, 244, .5);
}

textarea {
  outline: none;
  border: 1px solid transparent;
  border-bottom: 1px solid #8071f4;
  border-radius: 10px 10px 0 0;
  font-family: 'source-sans-3', sans-serif;
  color: #8071f4;
  font-weight: 300;
  font-size: 1rem;
  padding: 10px;
  resize: none;
}

textarea:hover {
  transition: ease-in-out;
  background-color: #faf9ff;
  border: 1px solid #8071f4;
}

textarea:focus {
  transition: ease-in-out;
  border: 1px solid #8071f4;
  border-radius: 10px 10px 10px 0;
  background-color: #faf9ff;
}

.new-tweet-footer {
  font-family: "bungee", sans-serif;
  font-size: 1rem;
  color: #8071f4;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submit-button {
  color: #8071f4;
  background-color: #faf9ff;
  border: 1px solid #8071f4;
  margin: 2px;
  padding: 2.5px 8px 2.5px 8px;
  border-radius: 5px;
  align-items: center;
  transform-origin: 100% 100%;
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.submit-button:hover {
  cursor: pointer;
  box-shadow: 4px 4px 0 0 #8071f4;
  transform: translate(-4px, -4px);
  transition: cubic-bezier(0, 0, 0, 1.02);
  transition-duration: 100ms;
}

.submit-button:active {
  color: white;
  background-color: #8071f4;
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.exceeded-character-limit {
  color: rgb(255, 18, 81);
}

/* display tweets */

article {
  color: #8071f4;
  display: flex;
  flex-direction: column;
  border: 1px solid #8071f4;
  border-radius: 10px;
  padding: .5rem;
  margin-bottom: 2rem;
  transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1)
}

article:hover {
  box-shadow: 5px 5px 0 0 #8071f4;
  transition: cubic-bezier(0, 0, 0, 1.02);
  transition-duration: 100ms;
  transform: translate(-5px, -5px);
}

article.tweet header {
  width: 100%;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.user-wrapper {
  display: flex;
  align-items: center;
}

.handle {
  display: flex;
  align-items: center;
  color: rgba(128, 113, 244, .5);
  padding-right: 1rem;
}

.handle:hover {
  color: #8071f4;
}

.avatar {
  padding: 5px;
  height: 50px;
  margin-right: .1rem;
  border-radius: 25%;
}

#tweets-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.user-tweet {
  border-bottom: 1px solid #8071f4;
  color: #8071f4;
  font-size: 1rem;
  padding: 1rem 1rem 1.5rem 1rem;
  word-wrap: break-word;
}

article.tweet footer {
  color: #8071f4;
  font-size: .75rem;
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}

.tweet-options {
  display: flex;
}

.tweet-toggle {
  font-size: 1rem;
  padding-left: 10px;
}

.tweet-toggle:hover {
  cursor: pointer;
  color: #ffbb00;
}

.tweet-toggle:active {
  color: #fc4c9e;
  scale: 140%;
  transition: ease-out;
}

#alert {
  display: flex;
  width: 100%;
  margin-bottom: -.5rem;
  padding-top: 10px;
  justify-content: flex-start;
}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

#alert p {
  font-size: .9rem;
  color: #ff1e74;
  transform-origin: left;
  animation: fade-in 0.2s ease-in-out;
}